*{
    list-style: none;
    margin: auto;
    padding: auto;
}

.my-col{
    background-image: url(scope.png);
    background-position: 10%;
    /* height: 10px; */
    padding-top: 200px;
    margin: 0 0 0 20px ;
    width: 400px;
    /* height: auto; */
}

.my-col2{
    background-image: url(scope.png);
    background-position: 10%;
    /* height: 10px; */
    padding-top: 200px;
    margin: 0 0 0 20px ;
    width: 400px;
    /* height: auto; */
}

.my-col3{
    background-image: url(scope.png);
    background-position: 10%;
    /* height: 10px; */
    padding-top: 200px;
    margin: 0 0 0 20px ;
    width: 400px;
    /* height: auto; */
}


